#! /bin/bash
# get check dockerapp version command
check_docker_version_cmd=$(cat /data/wwwroot/{{docker_appname}}/docker-compose.yml |grep APP_COMMON_DOCKER_VERSION |cut -d ":" -f 2)

# check dockerapp version
sudo echo "{{docker_appname}}_version:" $(check_docker_version_cmd) |sudo tee -a /data/logs/install_version.txt


