{% if {{docker_appname}} == adminmongo %}

{% endif %}
{% if {{docker_appname}} == adminer %}

{% endif %}
{% if {{docker_appname}} == codiad %}

{% endif %}
{% if {{docker_appname}} == codeserver %}

{% endif %}
{% if {{docker_appname}} == mongoexpress %}

{% endif %}
{% if {{docker_appname}} == onlyofficedocumentserver %}

{% endif %}
{% if {{docker_appname}} == phpmyadmin %}

{% endif %}
{% if {{docker_appname}} == phppgadmin %}

{% endif %}
{% if {{docker_appname}} == portainer %}

{% endif %}
